doctype html
html(lang='en')
  head
    style.
      * {padding:0;margin:0;}
      body {
        font-size:14px;
        font-family:Helvetica,Arial,sans-serif;
        background-position:center;
        background-attachment:fixed;
        background-repeat:no-repeat
      }
      div {
        color:#FFF;
        width:306px;
        height:306px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-153px;
        margin-top:-153px;
        background-color:rgba(0,0,0);
        background-color:rgba(0,0,0,0.5);
        text-align:center;
      }
      div a {color:#FFF}
      h1 {margin:20px;15px;font-size:17px;}
      p {margin:10px 10px;}
      small {font-size:10px}
    title Human Powered Randomn
  body(style="background-image:url(" + image + ")")
    div
      h1 Human Powered Random
      p
        | Random came from
        strong= count
        |  comments on<br/>
        a(href=web) this Instagram
      p We hashed them using sha1<br/>
        small= hash
      p To give a random value of<br/>
        strong= random
      p Binary decision is<br/>
        if (random >= 0.5)
          strong Yes
        else
          strong No
        end
      p
        small
          a(href='https://github.com/FaridW/human-rng') Source on GitHub
