doctype html
html(lang='en')
  head
    title Human Powered Random
    meta(name='viewport', content='width=device-width, user-scalable=yes')
    style.
      * {padding:0;margin:0;}
      body{background-color:#000;font-size:14px;font-family:Helvetica,Arial,sans-serif;background-position:center;background-attachment:fixed;background-repeat:no-repeat;}
      div {color:#FFF;position:absolute;top:50%;left:50%;background-color:#000;background-color:rgba(0,0,0,0.75);text-align:center;}
      div a {color:#FFF}
      h1 {margin:25px 10px;font-size:17px;}
      p {margin:15px 10px;}
      strong{color:#000;background-color:#FFF;padding:3px;display:inline-block;height:15px;line-height:15px;}
      small {font-size:10px;}
  body(style='background-image:url(' + image.url + ');')
    div(style='width:' + image.width/2 + 'px;height:' + image.height/2 + 'px;margin-left:-' + image.width/4 + 'px;margin-top:-' + image.height/4 + 'px;')
      h1 Human Powered Random
      p We found this random&nbsp;
        a(href=web) Instagram<br/>
      p
        | We blended up its
        = ' ' + count + ' '
        | comments to get<br/>
        strong= random
      p We also tossed a coin, it came up<br/>
        if (random >= 0.5)
          strong Heads
        else
          strong Tails
        end
      p
        a(href='/') Do this again?
      p
        small
          a(href='https://github.com/FaridW/human-powered-random') Source on GitHub
